/* the total width of an element icludes the border width as well */
body {
    box-sizing: border-box;
}

/* sets the font family for all the headings on the page */
h1,
h2,
h3 {
    font-family: Raleway, sans-serif;
}

/* styles the header and allows it to stay fixed to the top of the screen as a user scrolls */
header {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #1f487e;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* makes the profile name appear next to the image and changes the font size */
h1 {
    display: inline;
    font-size: 40px;
}

/* changes the font family and line height of all p text */
p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2em;
}

/* displays the nav links in a line */
li {
    display: inline;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
}

/* changes the default look of the header nav links */
nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* changes the color of the header links when hovered over to add increased interactivity */
nav a:hover {
    color: #cbf3f0;
}

/* allows the portolio image and h1 to be flexible and centers them */
#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

/* sizes the profile image and makes a circular border around it */
#header-img {
    width: auto;
    height: 5rem;
    border: 3px solid grey;
    border-radius: 50%;
}

/* sets properties for the About Me, Work, and Contact headings */
.sub-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-right: 2px solid #6290c8;
    width: 20vw;
}

/* makes the about section flexible */
#about {
    display: flex;
}

/* centers the about me image and text and displays them next to eachother */
#about-bottom {
    display: flex;
    align-items: center;
    width: 80vw;
}

/* sets the size of the about me image */
#about-image {
    max-height: auto;
    max-width: 40vw;
}

/* styles the about me h3 */
#about h3 {
    font-size: 20px;
    font-weight: bold;
    color: #376996;
    padding: 10px 0;
}

/* displays the hobbies text in italics */
#hobbies {
    font-style: italic;
    padding-bottom: 10px;
}

/* makes the word city bold */
#city {
    font-weight: bold;
}

/* puts padding between the about me message and the city paragraph */
#about-message {
    padding-top: 10px;
}

/* makes the work section flexible */
#work {
    display: flex;
}

/* displays the sub work samples under the main work sample */
.work-samples {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    padding-top: 20px;
}

/* allows the work title to be set on a specific point relative to its containing work sample and ensures that the images appear under the header */
.work-image {
    position: relative;
    z-index: 0;
}

/* makes the image look more interactable when hovering */
.work-image a:hover {
    opacity: 0.8;
}

/* makes the portolio website work sample take 70% of the screen */
#portfolio-website-image {
    width: 70vw;
    height: auto;
}

/* sets the properties for all work sample titles */
.image-title {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid;
    background-color: #6290c8;
    padding: 0;
    font-size: 12px;
}

/* positions the portfolio title to the top right of the work sample image */
#portfolio-title {
    top: 0;
    right: 0;
}

/* allows the sub work examples to display next to eachother */
#sub-work-samples {
    display: flex;
}

/* sizes the sub work samples to be half as wide as the main work sample */
.sub-showcase-image {
    width: 32vw;
    height: auto;
}

/* adds some padding to the right of the horiseon work sample */
#horiseon {
    padding-right: 20px;
}

/* positions the horiseon title to the bottom left of the work sample image */
#horiseon-title {
    bottom: 10px;
    left: 0;
}

/* adds some padding to the left of the landing page work sample */
#landing-page {
    padding-left: 30px;
}

/* postions the landing page title to the bottom right of the work sample image */
#landing-page-title {
    bottom: 0;
    right: 0;
}

/* allows the content inside the contact section to be flexible */
#contact {
    display: flex;
}

/* makes the contact info section take up 80% of the screen on the right */
#contact-info {
    display: inline;
    width: 80vw;
}

/* centers the contact headers and the info to the right of them */
.contact-group {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

/* Adds a margin to the left of the contact links and changes the email font size */
.contact-method {
    margin-left: 10px;
    font-size: 20px;
}

/* changes the color and font size of the contact headings */
#contact-info h3 {
    font-size: 30px;
    font-weight: bold;
    color: #376996;
}

/* changes the color and style of the contact links */
#contact-info a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Raleway';
    color: black;
}

/* changes the color of the contact links when hovered over */
#contact-info a:hover {
    color: #85c7de;
}

/* changes layout into a column and resizes elements to display better on screens between 320 and 860px */
@media (min-width: 320px) and (max-width: 860px) {
    header {
        flex-direction: column;
        flex-basis: 100%;
    }

    main h2 {
        padding-top: 110px;
    }

    #about {
        flex-direction: column;
    }

    #work {
        flex-direction: column;
        align-items: center;
    }

    #contact {
        flex-direction: column;
    }

    .sub-header {
        width: 100vw;
        border-right: none;
        border-bottom: 2px solid #6290c8;
    }

    #about-image {
        max-width: 80vw;
    }

    #about-bottom {
        flex-direction: column;
        width: 100vw;
    }

    #about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #contact-info h3 {
        font-size: 20px;
    }

    #portfolio-website-image {
        width: 90vw;
    }

    #sub-work-samples {
        flex-direction: column;
        align-items: center;
    }

    #horiseon {
        padding: 0;
    }

    #landing-page {
        padding: 0;
    }

    .sub-showcase-image {
        width: 90vw;
    }

    #contact-info {
        flex-direction: column;
        align-self: center;
    }

    .contact-group {
        display: flex;
        flex-direction: column;
    }
}

/* changes font size of contact info to fit better on screens smaller than 375px */
@media (max-width: 375px) {
    .contact-method {
        font-size: 16px;
    }

    #contact-info a {
        font-size: 16px;
    }
}